.ProseMirror {
  height: 100%;
}

.ProseMirror-focused {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* Placeholder styles */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}