.tiptap {
  blockquote {
    border-left: 3px solid #0f172a;
    padding-left: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
    background-color: #f8fafc;
    font-style: italic;
  }

  blockquote > p {
    margin: 4px;
  }

  blockquote > * {
    background-color: inherit !important;
  }
}
