@import "./styles/content/page-sizes.css";
@import "./styles/content/list-items.css";
@import "./styles/content/quote.css";
@import "./styles/content/heading.css";
@import "./styles/editor/index.css";
@import "./styles/content/table.css";
@import "./styles/content/link.css";
@import "./styles/content/divider.css";
@import "./styles/content/codeblock.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}